  /* Make the image fully responsive */
  .container {
    padding-top: 1rem;
  }

  .carousel-inner .each-slide {
    width: 100%;
    height: 80vh;
    background-color: black;
    color: white;
    border-radius: 15px;  
  }
 