h2 {
    margin-top: 1rem;
}

.score-showing-banner-container {
    text-align: center;
}

.score-showing-banner {
    border-radius: 10px;
    background-color: #FFF3CD;
    border: 2px solid #a19468;
    color: #61593f;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.user-score-value {
    font-size: 2rem;
}

table {
    border: 2px solid #343A40;
    color: #343A40;
    font-size: 0.8rem;
}

th {
    background-color: #343A40;
    color: white;
    border: 2px solid #343A40;
}

td {
    border: 2px solid #343A40;
}

.question-number {
    font-weight: bold;
}

.status {
    font-weight: bold;
}

.status-correct {
    background-color: #D1E7DD;
    color: #568871;
}

.status-wrong {
    background-color: #F8D7DA;
    color: #ac545c;
}

.retake-quiz-link-container {
    text-align: center;
}

.retake-quiz-link-container a {
    padding: 1rem 2rem;
    background-color:#343A40;
    border: 3px solid #343A40;
    border-radius: 10px;
    color: white;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
}

.retake-quiz-link-container a:hover {
    color:#343A40;
    background-color: white;
}

