body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/static/images/homepage-hero-image.jfif);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.home-page-heading-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#home-page-heading {
    font-family: 'Montserrat';
    font-size: 48px;
    color: white;
}

.container p {
    color: white;
    text-align: center;
    font-family: 'Questrial';
    font-size: 28px;
}

.container{
    width: 80%;
    margin-top: 15% ;
    margin-bottom: 5%;
}