h2 {
    color: #343A40;
    margin-top: 1rem;
}

.each-question {
    /* border: 1px solid black; */
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
}

.each-question label {
    color: #343A40;
    font-weight: bold;
    margin-bottom: 1rem;
}

.each-question input {
    border-radius: 10px;
    border-color: #343A40;
    font-style: italic;
    padding: 0.5rem 3rem 0.5rem 1rem;
    width: fit-content;
    min-width: 20rem;
    color: black;
    
}

.each-question input:focus {
    border-color: black;
    outline: none;
    background-color: #8b9cad;
    color: white;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);
}

.quiz-submission-button {
    color: white;
    background-color: #343A40;
    padding: 0.8rem 2rem;
    border: none;
    border: 3px solid #343A40;
    border-radius: 10px;

    transition: color 0.2s, background-color 0.2s;
}

.quiz-submission-button:hover {
    color: #343A40;
    background-color: white;
}

.quiz-submission-button:focus {
    outline: none;
}

