{% extends "loggedinheader.html" %}

{# Comment: Use the block below to add custom styling #}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/dashboardpage.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Welcome, {{ name }} </h1>   
    
    <div class="dashboard-content-container">
        <img class="img-center" src="/static/images/default.png" alt="an image of google search engine with a question written in the search bar" style="margin: auto;"></img>
        <p><strong><em>HyperSearch</em></strong> is a simple web application that demonstrates various ways different flags or filters one can use to improve their google search results. 
            Whether you are a student, professor, journalist, programmer or just about anyone who enjoys searching on google for answers will find this extremely useful.  
            We have curated some simple exercises for you that will provide plenty of practice to improve your searching skills on google. 
            We have also designed a small multiple-choice questionnaire to test your newly learned skill at the end of the course. 
            The whole learning process should take you less than 10 mins to complete. To get started with HyperSearch, click on the  "Jump to learning" button below or the "Exercises" tab in the top right corner.
        </p>
        
    </div>
    <div class="start-learning-link-container">
        <a class="start-learning-link" href="{{url_for('exercises')}}">Jump into learning</a>
    </div>
    
    

</div>

{% endblock %}