{% extends "loggedinheader.html" %}

{# Comment: Use the block below to add custom styling #}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='css/dashboardpage.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Welcome, {{ name }} </h1>   
    
    <div class="dashboard-content-container">
        <img class="img-center" src="/static/images/default.png" alt="an image of google search engine with a question written in the search bar" style="margin: auto;"></img>
        <p><strong><em>HyperSearch</em></strong> is a simple web application that teaches one to use various flags/filters one can use
            to improve their google search results. Regardless of whether you are a student, professor, journalist, programmer or just about anyone who loves googling*
            you will find something useful in this tutorial.  The excercises will provide ample of practice to quickly get you up and running.
            We have designed a small questionaire to test your newly learned skill. The whole learning process is designed to complete under 10 mins. 
             Click on the  "Jump to learning" button below  or "Excercises" tab on the top left to begin HyperSearching.
        </p>
        
    </div>
    <div class="start-learning-link-container">
        <a class="start-learning-link" href="{{url_for('exercises')}}">Jump into learning</a>
    </div>
    
    

</div>

{% endblock %}