{% extends "loggedinheader.html" %}

<!-- Extend a different header from here on -->

{% block content %}
<div class="container">
    <h1>Welcome, {{ name }} </h1>
    <div class="hero-image">
        <img src="{{url_for('.static', filename='google_snippet_for_dashboard.jpg')}}"
            alt="an image of google search engine with a question written in the search bar" style="margin: auto;">
    </div>
    <div class="dashboard-content">
        <p>
            Ninja Search is a web application created by 2 programmers from the University of Western Australia. This
            tool
            teaches you useful tips and techniques that can quicken your search process.
        </p>

        <p>
            Whether you are a student or a professor, journalist or a news reader, programmer or just casual internet
            surfer, you will find something useful in this tutorial.
        </p>
        <p>
            In this app, you will progress through a series of interactive learning activities that teaches you the
            various
            scenarios where you can use the techniques learnt.
            <br>
            After that you can put your new found skills to test by taking the quiz !!!
        </p>
        <p>
            So without further ado, let's start our search :P
        </p>
    </div>
    <div class="learning-materials-button">
        <a href="{{url_for('exercises')}}">Start learning</a>
    </div>
</div>

{% endblock %}