{% extends "loggedinheader.html" %}

{# Comment: Use the block below to add custom styling #}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/exercisespage.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval=false data-wrap=false>

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
            <li data-target="#demo" data-slide-to="4"></li>
            <li data-target="#demo" data-slide-to="5"></li>
            <li data-target="#demo" data-slide-to="6"></li>
            <li data-target="#demo" data-slide-to="7"></li>
            <li data-target="#demo" data-slide-to="8"></li>
            <li data-target="#demo" data-slide-to="9"></li>
            <li data-target="#demo" data-slide-to="10"></li>
            <li data-target="#demo" data-slide-to="11"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <!-- Slide 0 new -->
            <div class="carousel-item active">
                <div class="intro-slide each-slide">
                    <h1>Let's learn to search better on google.</h1>
                    <ul class="each-slide-info-list">
                        <li>Starting from this slide you will see a Google Search box with some <em> important
                                flags</em> in the placeholder field for you to try out.</li>
                        <li>As you progress through each slide,type the flag into the search box to see how each flag
                            affects your search result</li>
                        <li>For your convenience, the search box is prepopulated with the code but we encourage you to
                            type your own personalized results to see it work!.</li>
                        <li>After typing in the search box click the <strong>"HyperSearch"</strong> button or simply
                            press <strong>Return/Enter</strong> on your keyboard to load the search on a new tab.</li>
                        <li>Let's try searching for a smiling baby yoda's picture on google. Try typing baby-yoda-happy.
                            <br> Notice how <strong>"- hyphen "</strong> is used to link to each words.
                        </li>
                    </ul>
                    <div class="hypersearch">
                        <img class="img-center" src="static/images/babyYoda.png" alt="babyyoda">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder="baby-yoda-happy"
                                value="baby-yoda-happy">
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Slide 1 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Quickly find social media handle of someone.</h1>
                    <ul class="each-slide-info-list">
                        <li>Let's say you wanna follow Elon Musk on twitter to capitalize on the next Dogecoin wave but
                            you don't remember this twitter handle.</li>
                        <li>Try adding the <strong>"@social-media-name"</strong> in the search along with the name
                            query.</li>
                        <li>For example, try typing Elon Musk @Twitter.</li>
                    </ul>
                    <div class="hypersearch">
                        <img class="img-center" src="static/images/elon-musk.jpg" alt="elon-musk">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder="Elon-Musk @twitter"
                                value="Elon-Musk @twitter">
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Slide 2 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Search information relevant to a #hashtag.</h1>
                    <ul class="each-slide-info-list">
                        <li>Try adding the "#" in the search along with your name query. </li>
                        <li>For example, if you want to find the hashtag <strong>#BillieEilish.</strong></li>
                    </ul>
                    <div class="hypersearch">
                        <img class="img-center" src="static/images/beilish.jpg" alt="#BillieEilish">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder="#BillieEilish"
                                value="#BillieEilish">
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Slide 3 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Exclude certain words from search result.</h1>
                    <ul class="each-slide-info-list">
                        <li>Let's say you want to find famous people named Steve other than Steve Jobs. </li>
                        <li>Given Steve Job's popularity, finding any one with a similar name will be challenging. One
                            tip is to try removing Apple from search results.</li>
                        <li>Try adding the <strong>"- searchword"</strong> in the search. For example, Steve -Apple</li>
                    </ul>
                    <div class="hypersearch"><img class="img-center" src="static/images/steve.jpg"
                            alt="steve-not-apple">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder="Steve -Apple"
                                value="Steve -Apple">
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Slide 4 new -->

            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Find results that match the exact keyword!</h1>
                    <ul class="each-slide-info-list">
                        <li>Want to search for an exact phrase? Try wrapping the search in double quotes.</li>
                        <li>For example, to find the belgian waffles recipes type <strong>"Belgian Waffles
                                Recipes"</strong></li>
                    </ul>
                    <div class="hypersearch">
                        <img class="img-center" src="static/images/belgian-waffles.jpg" alt="belgian-waffle">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder='"Belgian Waffles Recipes"'
                                value='"Belgian Waffles Recipes"'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>


            <!-- Slide 5 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Find something on a specific site. Great way to search for hidden deals!</h1>
                    <ul class="each-slide-info-list">
                        <li>Want to search for articles or content on specific site? Try adding the "site:website.com"
                            at the end.</li>
                        <li>Let's say you wish to buy the latest Virtual Reality (VR) Headset from amazon.com.au try, VR
                            Headset <strong>site:amazon.com.au</strong></li>
                    </ul>
                    <div class="hypersearch">
                        <img class="img-center" src="static/images/oculus.jpg" alt="vr-headset">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder='VR Headset site:amazon.com.au'
                                value='VR Headset site:amazon.com.au'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Slide 6 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Filter news by source. </h1>
                    <ul class="each-slide-info-list">
                        <li>Let's say, before investing in Google's stocks you want to find out whether the latest news
                            about Google's upcoming technology is from a
                            trusted source of yours or not. </li>
                        <li>One way of doing it is by using this <strong>"news-article source: source-name"</strong>.
                        </li>
                        <li>For example, google leaks source:9to5google.</li>
                    </ul>
                    <div class="hypersearch"><img class="img-center" src="static/images/g-news.jpeg" alt="google-news">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q"
                                placeholder='google leaks source:9to5google' value='google leaks source:9to5google'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>

                </div>
            </div>
            <!-- Slide 7 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Search for similar sites.</h1>
                    <ul class="each-slide-info-list">
                        <li>Bored using Facebook?</li>
                        <li>Let's search for websites similar to Facebook using the
                            <strong>"related:website.com"</strong> flag.
                        </li>
                        <li>For example, related:facebook.com</li>
                    </ul>
                    <div class="hypersearch"><img class="img-center" src="static/images/like.png" alt="related-sites">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder='related:facebook.com'
                                value='related:facebook.com'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>

                </div>
            </div>
            <!-- Slide 8 new-->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Search for multiple phrases</h1>
                    <ul class="each-slide-info-list">
                        <li>Let's say you want to search for images that are either "Dark Chocolate" or "Milk Chocolate"
                        </li>
                        <li>Try <strong>Dark Chocolate OR Milk Chocolate</strong>.</li>
                        <li>You can also use AND to find results containing both together. (Note this one is sometimes a
                            hit or miss)</li>
                    </ul>
                    <div class="hypersearch"><img class="img-center" src="static/images/darkmilkchoc.jpg"
                            alt="dark-or-milk">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q"
                                placeholder='Dark Chocolate OR Milk Chocolate' value='Dark Chocolate OR Milk Chocolate'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>
                </div>
            </div>
            <!-- Slide 9 new -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Search for specific filetypes</h1>
                    <ul class="each-slide-info-list">
                        <li>Want to search for resources that are of specific filetype? Use the <strong>"
                                filetype:type_of_file
                                "</strong>.</li>
                        <li>For example, if you want to search for pdf documents on programming resources</li>
                        <li> Try searching for object oriented programming filetype: pdf</li>
                    </ul>
                    <div class="hypersearch"><img class="img-center" src="static/images/pdf.png" alt="pdf">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q"
                                placeholder='object oriented programming filetype:pdf'
                                value='object oriented programming filetype:pdf'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>

                </div>
            </div>
            <!-- Slide 10 new  -->
            <div class="carousel-item">
                <div class="each-slide">
                    <h1>Search using wildcard *</h1>
                    <ul class="each-slide-info-list">
                        <li>Recollect only a few words from a song but want to search for it? </li>
                        <li>Use the <strong>' * '</strong> to search for the songs with missing lyrics</li>
                        <li>Type "never * give * up" and see what comes up!</li>
                    </ul>
                    <div class="hypersearch"><img class="img-center" src="static/images/rick-rolled.jpg"
                            alt="rick-rolled.">
                        <form class="gSearch" action="https://www.google.com/search" target="_blank">
                            <input class="gSearch-text" type="text" name="q" placeholder=' Never * Give * Up '
                                value=' Never * Give * Up'>
                            <input class="gSearch-btn" type="submit" value="HyperSearch">
                        </form>
                    </div>

                </div>
            </div>
            <!-- Slide 11 -->
            <div class="carousel-item">
                <div class="each-slide last-slide">
                    <h3 class="last-slide-heading">TIME TO PUT YOUR SKILLS TO TEST</h3>
                    <div class="start-quiz-link-container">
                        <a class="start-quiz-link" href="{{url_for('quiz')}}">Take the quiz</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
</div>
{% endblock %}