{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='indexpage.css')}}">
{% endblock %}


{% block content %}
<div class="container">
    <h1>Hyper Search</h1>
    <p>Learn to search the Google effectively</p>

    <p>In this web application, you will learn some useful techniques that will help you find what you want quickly on
        the Google search engine.</p>
    <p>This web app not only teaches you but also give you a chance to test your new found skills. Take the assessment
        at the end of the learning activities and evaluate your skills.</p>
</div>
{% endblock %}