{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='loginpage.css')}}">
{% endblock %}


{% block content %}

{% for each_message in get_flashed_messages() %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ each_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="container">
    <form action="/login" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Login:</h2>
        {{ form.hidden_tag() }}
        {{ form.username.label}}<br>{{form.username}}
        <br>
        {{form.password.label}}<br>{{form.password}}
        <br>
        {{form.remember}} {{ form.remember.label}}
        <br><br>
        <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
    </form>
</div>
{% endblock %}