{% extends "loggedinheader.html" %}

{# Comment: Use the block below to add custom styling #}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/quiz.css')}}">
{% endblock %}

{% block scripts %}
 
{% endblock %}


{% block content %}
{% for each_message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ each_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<div class="container">
    
<div class="instruction-box custom-box">
    <h3>Instructions</h3>
    <br>
    <p><ul>
        <li>Total number of questions: <strong><span class="total-question"></span></strong></li>
        <li>Multiple choice quiz with no time limit.</li>
        <li>The only way to save the quiz is to finish it.</li>
        <li>Once you skip or click on next question you can't go back.</li>
        <li>You will be presented with 3 options for each question.</li>
        <li>You will be provided with a test search box below to try out each options to see the results.</li>
        <li>Simply click on the answer you think is correct and you will immediately get a feedback on it.</li>
        <li>The progress bar at the bottom of the page keeps track of your attemped questions.</li>
        <li>Click Start Quiz whenever you are ready. Good luck!</li>
    </ul></p>
    
    <div class="button-container">
        <button type="button" class="btn" onclick="startQuiz()">Start Quiz</button>
        <button type="button" class="btn" onclick="pastQuiz()">Past Attempts: {{TotalAttempt}}</button>
    </div>
    
    <h1 id="pScore">{{pScore}}</h1>
    <h1 id="pWrong">{{pWrong}}</h1>
    <h1 id="pCorrect">{{pCorrect}}</h1>
    <h1 id="pAttempt">{{TotalAttempt}}</h1>
</div>
<div class="questions-box custom-box hide">
    
    <div class="question-number"></div>
    <div class="question-text"></div>
    <div class="option-container"></div>
    
    <div class="next-question-btn">
       <button type="button" class="btn" onclick="next()">Next</button>
       <form class="gSearch" action="https://www.google.com/search" target="_blank">
            <input class="gSearch-text" type="text" name="q" placeholder="Attempt your answer here! Press Enter to Search..">
        </form>
    </div>
    <div class="answers-indicator"></div>
</div>

<div class="result-box custom-box hide">
    <h1>Quiz Result</h1>
    <table>
       <tr>
           <td>Total Question</td>
           <td><span class="total-question"></span></td>
       </tr>
       <tr>
           <td>Attempted Questions: </td>
           <td><span class="total-attempt"></span></td>
       </tr>
       <tr>
           <td>Correct Answers: </td>
           <td><span class="total-correct"></span></td>
       </tr>
       <tr>
           <td>Wrong Answers: </td>
           <td><span class="total-wrong"></span></td>
       </tr>
       <tr>
           <td>Percentage:</td>
           <td><span class="percentage"></span></td>
       </tr>
       <tr>
           <td>Final Score:</td>
           <td><span class="total-score"></span></td>
       </tr>
    </table>
    <div class="button-container">
        <button type="button" class="btn" onclick="tryAgainQuiz()">Try Again</button>
        <button type="button" class="btn" onclick="goToDashboard()()">Dashboard</button>
    </div>
    
</div>

<div class="prev-result-box custom-box hide">
    <h1>Most Recent Quiz Result</h1>
    <table>
       <tr>
           <td>Total Question</td>
           <td><span class="total-question"></span></td>
       </tr>
       <tr>
           <td>Quiz Attempt No</td>
           <td><span class="total-attempt"></span></td>
       </tr>
       <tr>
           <td>Correct Answers</td>
           <td><span class="total-correct"></span></td>
       </tr>
       <tr>
           <td>Wrong Answers</td>
           <td><span class="total-wrong"></span></td>
       </tr>
       <tr>
           <td>Your Total Score</td>
           <td><span class="total-score"></span></td>
       </tr>
    </table>
    <div class="button-container">
        <button type="button" class="btn" onclick="tryAgainQuiz()">Try Quiz Again</button>
        <button type="button" class="btn" onclick="goToHome()">Instructions Menu</button>
    </div>    
</div>
</div>


<script src="/static/js/quiz-control.js"></script>
{% endblock %}